            .div-sp {
                float: left;
                margin: 0px;
                padding: 0px;
                border: 0px;
            }

            .tela-01 {
                float: left;
                width: 482px;
                height: 182px;
                top: calc(50% - 101px);
                left: calc(50% - 251px);
                position: absolute;
                background-color: #fff;
                padding: 20px;
                opacity: 1.0;
                z-index: 99;
            }
            .tela-01 h1 {
                float: left;
                width: 100%;
                color: #284c77;
                font-size: 1.5em;
                text-align: center;
            }
            .tela-01 select {
                float: left;
                width: 100%;
                margin-top: 10px;
                text-align: center;
            }
            .tela-01 button {
                float: left;
                width: 100%;
                margin-top: 20px;
                text-align: center;
            }

            .tela-02 {
                float: left;
                width: 100%;
                opacity: 0.0;
            }
            .tela-02 table {
                color: #1a395b;
            }
            .tela-02 h6 {
                width: 100%;
                margin-top: 5px;
            }
            .img-pf {
                width: 30px;
                height: 30px;
                border-radius: 30px;
            }
            .block {
                float: left;
                background-color: #fff;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
				border-radius: 5px;
            }
            #donutchart {
                width: calc(100% - 20px);
            }
            .progress-bar {
                float: left;
                width: 100%;
                height: 10px;
                background-color: #E9ECEF;
                border-radius: 3px;
            }
            .bar-pg {
                float: left;
                height: 10px;
                border-radius: 3px;
            }
            .rodape {
                float: left;
                width: 100%;
                margin-top: 50px;
                margin-bottom: 10px;
            }
            .rodape a {
                text-decoration: none;
                color: #fff;
            }
            .rodape p {
                float: left;
                width: 100%;
                opacity: 0.2;
                font-size: 0.8em;
                cursor: default;
                margin: 0px;
                padding: 0px;
                text-align: center;
                color: #fff;
            }
#time-info {
                float: left;
                width: 100%;
                padding: 10px 10px 10px 15px;
                cursor: default;
            }
            #time-info h3 {
                float: left;
                width: 100%;
                text-align: left;
                font-size: 1.4em;
                margin: 0px;
                padding: 0px;
                padding: 0px;
                color: #1a395b;
            }
            #time-info h4 {
                float: left;
                width: 100%;
                text-align: left;
                font-size: 4.0em;
                margin: 0px;
                padding: 0px;
                color: #1a395b;
            }
            #time-info h5 {
                float: left;
                width: 100%;
                text-align: left;
                font-size: 1.8em;
                margin: 0px;
                padding: 0px;
                color: #1a395b;
            }
            #time-info h6 {
                float: left;
                width: 100%;
                text-align: left;
                font-size: 1.5em;
                margin: 0px;
                padding: 0px;
                color: #1a395b;
            }
            #time-info img {
                float: right;
                width: 110px;
                height: 110px;
                margin-right: 10px;
                margin-top: -120px;
                opacity: 0.1;
            }
            #relat-mid {
                float: left;
                width: calc(65% - 420px);
                margin-right: 20px;
                background-color: #fff;
				padding: 10px 18px 15px 15px;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            }
            #cmd-by-day {
                float: left;
                width: 100%;
                margin: 0px;
                padding: 10px;
            }
            #cmd-by-day p {
                float: left;
                width: 100%;
                margin: 0px;
                padding: 0px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                font-size: 1.0em;
                color: #1a395b;
            }
            #img-md {
                float: right;
                width: 50px;
                margin-top: 40px;
                margin-right: 10px;
            }
            #src-legal {
                float: right;
                position: absolute;
                width: 90px;
                margin: 0px;
                padding: 0px;
                margin-top: 50px;
                margin-left: -100px;
                opacity: 0.25;
            }
            #cmd-by-day h3 {
                float: left;
                width: 100%;
                text-align: left;
                margin: 0px;
                padding: 0px;
                font-weight: bold;
                text-align: left;
                font-size: 5.0em;
                color: #1a395b;
            }
            #cmd-by-day h4 {
                float: left;
                width: 100%;
                text-align: left;
                margin: 0px;
                padding: 0px;
                font-weight: bold;
                text-align: center;
                font-size: 1.5em;
                color: #1a395b;
            }
            .div-cham {
                float: left;
                padding: 20px 30px 20px 25px;
                margin-bottom: 20px;
                background-color: #fff;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
				border-radius: 5px;
            }
            .div-cham h2 {
                float: left;
                width: 100%;
                font-size: 1.0em;
                margin: 0px;
                padding: 0px;
                margin-bottom: 5px;
                cursor: default;
            }
            .div-cham p {
                float: left;
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 3.0em;
                font-weight: bold;
                margin: 0px;
                padding: 0px;
                color: #284c77;
                cursor: default;
            }
            .div-cham img {
                float: right;
                opacity: 0.1;
                margin-bottom: -20px;
            }
            #div-todo {
                width: calc(25% - 15px);
                margin-right: 15px;
            }
            #div-todo img {
                width: 70px;
                margin-top: -70px;
            }

            #div-doing {
                width: calc(25% - 15px);
                margin-left: 5px;
                margin-right: 10px;
            }
            #div-doing img {
                width: 90px;
                margin-top: -75px;
            }

            #div-pedent {
                width: calc(25% - 15px);
                margin-left: 10px;
                margin-right: 5px;
            }
            #div-pedent img {
                width: 80px;
                margin-top: -78px;
            }

            #div-done {
                width: calc(25% - 15px);
                margin-left: 15px;
            }
            #div-done img {
                width: 70px;
                margin-top: -70px;
            }
			#bar-labels {
                width: calc(100% - 20px);
                float: left;
                padding: 10px 20px 25px 20px;
                margin-top: 20px;
				margin-left: 20px;
                color: #1a395b;
            }
            #bar-labels h5 {
                float: left;
                width: 100%;
                font-size: 1.5em;
                margin-top: 10px;
                color: #1a395b;
            }
            #bar-labels h4 {
                float: right;
                width: 100%;
                text-align: right;
                font-size: 1.5em;
                margin-top: -35px;
                color: #1a395b;
            }
			#rltsbars {
				width: calc(100% - 20px);
				margin-right: 20px;
			}
			#table-rows {
				float: left;
				width: 100%;
				margin: 0px;
			}
			#table-rows th {
				border-top: 0px;
			}
			#tabale-rows {
				font-size : 1.3em;
			}
			#row-five {
				font-size : 1.3em;
			}
			#top-fiv {
				float: left;
				width: calc(35% - 20px);
				margin-top: 20px;
				margin-left: 20px;
				padding: 20px;
				padding: 10px;
			}